* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

#city-name {
  font-size: 22px;
  font-weight: 400;
}

#current-temperature {
  font-size: 54px;
  position: relative;
  top: 16px;
  margin-left: -7px;
  cursor: default;
}

#celcius,
#fahrenheit {
  color: #000;
  text-decoration: none;
}

#weather-condition {
  text-transform: capitalize;
}

#weather-forecast {
  text-align: center;
  margin-top: 22px;
  margin-bottom: 18px;
}

.container {
  margin-top: auto;
  margin-right: auto;
}

.day-time-weather {
  font-size: 15px;
  opacity: 0.8;
}

.main-app {
  border: 2px solid rgb(148, 148, 148, 0.3);
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgb(202, 202, 202, 0.7);
}

.search-bar {
  background: #fff;
  border: 1px solid #000;
  border-radius: 18px;
  width: 250px;
  line-height: 28px;
  padding-left: 8px;
  margin-top: 18px;
  margin-left: 28px;
  margin-bottom: 8px;
}

.search-bar input {
  border: none;
  outline: none;
  width: 200px;
  line-height: 21px;
  padding-bottom: 5px;
}

.search-bar i {
  padding-top: 8px;
  padding-left: 2px;
  padding-right: 3px;
  color: rgb(29, 88, 214);
}

.weather-app-wrapper {
  max-width: 600px;
  min-width: 550px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.weather-overview {
  margin-left: 8px;
}

.weather-info-layout {
  margin-bottom: 12px;
}

.tempearture-units {
  font-size: 18px;
  position: relative;
  top: -12px;
  margin-left: -4px;
}

.active {
  cursor: default;
}

.inactive {
  opacity: 0.4;
  cursor: pointer;
}

.github-code-link {
  margin-top: 5px;
  font-size: 14px;
}

.other-weather-info-heading {
  font-weight: 500;
  font-size: 14px;
}

.other-weather-info-heading-value {
  font-size: 13px;
  opacity: 0.9;
}

.unit-partition {
  cursor: default;
}

.day {
  font-size: 16px;
  line-height: 12px;
}

.weather-forecast-temperature {
  font-size: 13px;
  line-height: 13px;
}

.weather-forecast-temperature-min {
  opacity: 0.6;
}
