* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

#search-bar {
  background: #fff;
  border: 1px solid #000;
  border-radius: 15px;
  width: 245px;
  line-height: 28px;
  padding-left: 8px;
  margin-left: 28px;
  margin-top: 18px;
}

#search-bar input {
  border: none;
  outline: none;
  width: 200px;
  line-height: 21px;
  padding-bottom: 5px;
}

#search-bar i {
  color: rgb(29, 88, 214);
}
.container {
  margin-top: auto;
  margin-right: auto;
}

.main-app {
  border: 2px solid rgb(148, 148, 148, 0.3);
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgb(202, 202, 202, 0.7);
}

.weather-app-wrapper {
  max-width: 600px;
  min-width: 550px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}
