* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: #dedef6;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

#city-name {
  font-size: 28px;
  font-weight: 400;
}

#current-temperature {
  font-size: 60px;
  position: relative;
  top: 19px;
  margin-left: -9px;
  cursor: default;
}

#celcius,
#fahrenheit {
  color: #000;
  text-decoration: none;
  font-size: 18px;
}

#weather-condition {
  text-transform: capitalize;
}

#weather-forecast {
  text-align: center;
  margin-top: 23px;
  margin-bottom: 19px;
  margin-left: 5px;
  margin-right: 5px;
}

#weather-icon {
  width: 120px;
  margin-left: -9px;
}

.container {
  margin-top: auto;
  margin-right: auto;
}

.day-time-weather {
  font-size: 17px;
  opacity: 0.8;
}

.main-app {
  background: #fff;
  border: 2px solid rgba(186, 182, 241, 0.9);
  border-radius: 7px;
  box-shadow: 2px 2px 10px rgba(81, 107, 226, 0.5);
  padding-left: 6px;
}

.search-bar {
  background: #f2f2ff;
  border: 1px solid #000;
  border-radius: 18px;
  width: 292px;
  line-height: 28px;
  padding-left: 8px;
  margin-top: 26px;
  margin-left: 28px;
  margin-bottom: 12px;
}

.search-bar input {
  background: #f2f2ff;
  border: none;
  outline: none;
  width: 242px;
  line-height: 22px;
  padding-bottom: 5px;
}

.search-bar i {
  padding-top: 8px;
  padding-left: 2px;
  padding-right: 3px;
  /* color: rgb(29, 88, 214); */
  color: rgb(101, 66, 240);
}

.weather-app-wrapper {
  max-width: 665px;
  min-width: 550px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
}

.weather-overview {
  margin-left: 8px;
}

.weather-info-layout {
  margin-bottom: 12px;
}

.tempearture-units {
  font-size: 18px;
  position: relative;
  top: -12px;
  margin-left: -4px;
}

.active {
  cursor: default;
}

.inactive {
  opacity: 0.4;
  cursor: pointer;
}

.github-code-link {
  margin-top: 5px;
  font-size: 14px;
}

.other-weather-info-heading {
  font-weight: 500;
  font-size: 15px;
}

.other-weather-info-heading-value {
  font-size: 14px;
  opacity: 0.9;
}

.unit-partition {
  cursor: default;
}

.day {
  font-size: 16px;
  line-height: 12px;
}

.weather-forecast-temperature {
  font-size: 13px;
  line-height: 13px;
  color: rgb(231, 5, 80);
}

.weather-forecast-temperature-min {
  opacity: 0.6;
}
